In [121]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [122]:
# taking away sci notation
pd.set_option('display.float_format', lambda x: '%.5f' %x)

In [123]:
df_director = pd.read_csv('movie_director_wrtier.cvs')

In [124]:
df_director
# got the director for each for from sql data.

,Unnamed: 0,movie_id,director,primary_title,genres,start_year,averagerating,region,writers
0,0,tt0069049,Orson Welles,The Other Side of the Wind,Drama,2018,6.90000,US,Oja Kodar
1,1,tt0069049,Orson Welles,The Other Side of the Wind,Drama,2018,6.90000,US,Orson Welles
2,2,tt0137204,Anthony Harrison,Joe Finds Grace,"Adventure,Animation,Comedy",2017,8.10000,CA,Anthony Harrison
3,3,tt0159369,John Mulholland,Cooper and Hemingway: The True Gen,Documentary,2013,7.60000,US,John Mulholland
4,4,tt0192528,Stuart Paul,Heaven & Hell,Drama,2018,4.00000,US,Stuart Paul
...,...,...,...,...,...,...,...,...,...
46815,77355,tt9825006,Rémi St-Michel,Avant qu'on explose,Comedy,2019,6.90000,CA,Eric K. Boulianne
46816,77356,tt9845398,Lucio Castro,End of the Century,Drama,2019,7.20000,US,Lucio Castro
46817,77357,tt9852644,Loïc Darses,La Fin des terres,Documentary,2019,7.00000,CA,Loïc Darses
46818,77358,tt9866344,Adib Alkhalidey,Mon Ami Walid,"Comedy,Drama",2019,5.70000,CA,Adib Alkhalidey
46819,77359,tt9866344,Adib Alkhalidey,Mon Ami Walid,"Comedy,Drama",2019,5.70000,CA,Julien Lacroix

In [125]:
profit_df = pd.read_csv('world_profit_per_six_genres.csv')

In [126]:
profit_df
# got profit_df from the question 2 file

,Unnamed: 0,title,start_year,runtime_minutes,genres,id,release_date,production_budget,domestic_gross,worldwide_gross,world_profit
0,1342,Dark Phoenix,2019,113.00000,Action,3,"Jun 7, 2019",350000000.00000,42762350.00000,149762350.00000,-200237650.00000
1,1343,Dark Phoenix,2019,113.00000,Adventure,3,"Jun 7, 2019",350000000.00000,42762350.00000,149762350.00000,-200237650.00000
2,1344,Dark Phoenix,2019,113.00000,Sci-Fi,3,"Jun 7, 2019",350000000.00000,42762350.00000,149762350.00000,-200237650.00000
3,3351,Mars Needs Moms,2011,88.00000,Family,94,"Mar 11, 2011",150000000.00000,21392758.00000,39549758.00000,-110450242.00000
4,3349,Mars Needs Moms,2011,88.00000,Adventure,94,"Mar 11, 2011",150000000.00000,21392758.00000,39549758.00000,-110450242.00000
...,...,...,...,...,...,...,...,...,...,...,...
1833,2892,Jurassic World,2015,124.00000,Adventure,34,"Jun 12, 2015",215000000.00000,652270625.00000,1648854864.00000,1433854864.00000
1834,535,Avengers: Infinity War,2018,149.00000,Sci-Fi,7,"Apr 27, 2018",300000000.00000,678815482.00000,2048134200.00000,1748134200.00000
1835,534,Avengers: Infinity War,2018,149.00000,Adventure,7,"Apr 27, 2018",300000000.00000,678815482.00000,2048134200.00000,1748134200.00000
1836,533,Avengers: Infinity War,2018,149.00000,Action,7,"Apr 27, 2018",300000000.00000,678815482.00000,2048134200.00000,1748134200.00000
1837,6538,Titanic,2018,115.00000,Family,43,"Dec 19, 1997",200000000.00000,659363944.00000,2208208395.00000,2008208395.00000

In [127]:
#dropping columns
profit_df = profit_df.drop('Unnamed: 0', axis=1) 
df_director = df_director.drop('Unnamed: 0', axis=1)

In [128]:
# checking drop
profit_df.head()

,title,start_year,runtime_minutes,genres,id,release_date,production_budget,domestic_gross,worldwide_gross,world_profit
0,Dark Phoenix,2019,113.00000,Action,3,"Jun 7, 2019",350000000.00000,42762350.00000,149762350.00000,-200237650.00000
1,Dark Phoenix,2019,113.00000,Adventure,3,"Jun 7, 2019",350000000.00000,42762350.00000,149762350.00000,-200237650.00000
2,Dark Phoenix,2019,113.00000,Sci-Fi,3,"Jun 7, 2019",350000000.00000,42762350.00000,149762350.00000,-200237650.00000
3,Mars Needs Moms,2011,88.00000,Family,94,"Mar 11, 2011",150000000.00000,21392758.00000,39549758.00000,-110450242.00000
4,Mars Needs Moms,2011,88.00000,Adventure,94,"Mar 11, 2011",150000000.00000,21392758.00000,39549758.00000,-110450242.00000

In [129]:
# checking drop
df_director.head()

,movie_id,director,primary_title,genres,start_year,averagerating,region,writers
0,tt0069049,Orson Welles,The Other Side of the Wind,Drama,2018,6.90000,US,Oja Kodar
1,tt0069049,Orson Welles,The Other Side of the Wind,Drama,2018,6.90000,US,Orson Welles
2,tt0137204,Anthony Harrison,Joe Finds Grace,"Adventure,Animation,Comedy",2017,8.10000,CA,Anthony Harrison
3,tt0159369,John Mulholland,Cooper and Hemingway: The True Gen,Documentary,2013,7.60000,US,John Mulholland
4,tt0192528,Stuart Paul,Heaven & Hell,Drama,2018,4.00000,US,Stuart Paul

In [130]:
#dropping unused/un needed columns in df_director
df_director = df_director.drop(['genres', 'start_year', 'movie_id', 'region'], axis=1)

In [131]:
# checking the drop
df_director.head()

,director,primary_title,averagerating,writers
0,Orson Welles,The Other Side of the Wind,6.90000,Oja Kodar
1,Orson Welles,The Other Side of the Wind,6.90000,Orson Welles
2,Anthony Harrison,Joe Finds Grace,8.10000,Anthony Harrison
3,John Mulholland,Cooper and Hemingway: The True Gen,7.60000,John Mulholland
4,Stuart Paul,Heaven & Hell,4.00000,Stuart Paul

In [132]:
# joining director with profit columns with a new variable df
df = df_director.set_index('primary_title').join(profit_df.set_index('title'), how='inner')

In [133]:
# checking the join
df

,director,averagerating,writers,start_year,runtime_minutes,genres,id,release_date,production_budget,domestic_gross,worldwide_gross,world_profit
12 Strong,Nicolai Fuglsig,6.60000,Ted Tally,2018,130.00000,Action,64,"Jan 19, 2018",35000000.00000,45819713.00000,71118378.00000,36118378.00000
12 Strong,Nicolai Fuglsig,6.60000,Peter Craig,2018,130.00000,Action,64,"Jan 19, 2018",35000000.00000,45819713.00000,71118378.00000,36118378.00000
12 Strong,Nicolai Fuglsig,6.60000,Doug Stanton,2018,130.00000,Action,64,"Jan 19, 2018",35000000.00000,45819713.00000,71118378.00000,36118378.00000
127 Hours,Danny Boyle,7.60000,Danny Boyle,2010,94.00000,Adventure,6,"Nov 5, 2010",18000000.00000,18335230.00000,60217171.00000,42217171.00000
127 Hours,Danny Boyle,7.60000,Simon Beaufoy,2010,94.00000,Adventure,6,"Nov 5, 2010",18000000.00000,18335230.00000,60217171.00000,42217171.00000
...,...,...,...,...,...,...,...,...,...,...,...,...
Zootopia,Byron Howard,8.00000,Jennifer Lee,2016,108.00000,Adventure,57,"Mar 4, 2016",150000000.00000,341268248.00000,1019429616.00000,869429616.00000
xXx: Return of Xander Cage,D.J. Caruso,5.20000,Rich Wilkes,2017,107.00000,Action,15,"Jan 20, 2017",85000000.00000,44898413.00000,345033359.00000,260033359.00000
xXx: Return of Xander Cage,D.J. Caruso,5.20000,Rich Wilkes,2017,107.00000,Adventure,15,"Jan 20, 2017",85000000.00000,44898413.00000,345033359.00000,260033359.00000
xXx: Return of Xander Cage,D.J. Caruso,5.20000,F. Scott Frazier,2017,107.00000,Action,15,"Jan 20, 2017",85000000.00000,44898413.00000,345033359.00000,260033359.00000
xXx: Return of Xander Cage,D.J. Caruso,5.20000,F. Scott Frazier,2017,107.00000,Adventure,15,"Jan 20, 2017",85000000.00000,44898413.00000,345033359.00000,260033359.00000

In [134]:
# reset index 
df.reset_index(inplace = True)

In [135]:
# checking
df

,index,director,averagerating,writers,start_year,runtime_minutes,genres,id,release_date,production_budget,domestic_gross,worldwide_gross,world_profit
0,12 Strong,Nicolai Fuglsig,6.60000,Ted Tally,2018,130.00000,Action,64,"Jan 19, 2018",35000000.00000,45819713.00000,71118378.00000,36118378.00000
1,12 Strong,Nicolai Fuglsig,6.60000,Peter Craig,2018,130.00000,Action,64,"Jan 19, 2018",35000000.00000,45819713.00000,71118378.00000,36118378.00000
2,12 Strong,Nicolai Fuglsig,6.60000,Doug Stanton,2018,130.00000,Action,64,"Jan 19, 2018",35000000.00000,45819713.00000,71118378.00000,36118378.00000
3,127 Hours,Danny Boyle,7.60000,Danny Boyle,2010,94.00000,Adventure,6,"Nov 5, 2010",18000000.00000,18335230.00000,60217171.00000,42217171.00000
4,127 Hours,Danny Boyle,7.60000,Simon Beaufoy,2010,94.00000,Adventure,6,"Nov 5, 2010",18000000.00000,18335230.00000,60217171.00000,42217171.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5555,Zootopia,Byron Howard,8.00000,Jennifer Lee,2016,108.00000,Adventure,57,"Mar 4, 2016",150000000.00000,341268248.00000,1019429616.00000,869429616.00000
5556,xXx: Return of Xander Cage,D.J. Caruso,5.20000,Rich Wilkes,2017,107.00000,Action,15,"Jan 20, 2017",85000000.00000,44898413.00000,345033359.00000,260033359.00000
5557,xXx: Return of Xander Cage,D.J. Caruso,5.20000,Rich Wilkes,2017,107.00000,Adventure,15,"Jan 20, 2017",85000000.00000,44898413.00000,345033359.00000,260033359.00000
5558,xXx: Return of Xander Cage,D.J. Caruso,5.20000,F. Scott Frazier,2017,107.00000,Action,15,"Jan 20, 2017",85000000.00000,44898413.00000,345033359.00000,260033359.00000
5559,xXx: Return of Xander Cage,D.J. Caruso,5.20000,F. Scott Frazier,2017,107.00000,Adventure,15,"Jan 20, 2017",85000000.00000,44898413.00000,345033359.00000,260033359.00000

In [136]:
# renaming the index column to title
df.rename(columns = {'index' : 'title'}, inplace=True)

In [137]:
# checking
df

,title,director,averagerating,writers,start_year,runtime_minutes,genres,id,release_date,production_budget,domestic_gross,worldwide_gross,world_profit
0,12 Strong,Nicolai Fuglsig,6.60000,Ted Tally,2018,130.00000,Action,64,"Jan 19, 2018",35000000.00000,45819713.00000,71118378.00000,36118378.00000
1,12 Strong,Nicolai Fuglsig,6.60000,Peter Craig,2018,130.00000,Action,64,"Jan 19, 2018",35000000.00000,45819713.00000,71118378.00000,36118378.00000
2,12 Strong,Nicolai Fuglsig,6.60000,Doug Stanton,2018,130.00000,Action,64,"Jan 19, 2018",35000000.00000,45819713.00000,71118378.00000,36118378.00000
3,127 Hours,Danny Boyle,7.60000,Danny Boyle,2010,94.00000,Adventure,6,"Nov 5, 2010",18000000.00000,18335230.00000,60217171.00000,42217171.00000
4,127 Hours,Danny Boyle,7.60000,Simon Beaufoy,2010,94.00000,Adventure,6,"Nov 5, 2010",18000000.00000,18335230.00000,60217171.00000,42217171.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5555,Zootopia,Byron Howard,8.00000,Jennifer Lee,2016,108.00000,Adventure,57,"Mar 4, 2016",150000000.00000,341268248.00000,1019429616.00000,869429616.00000
5556,xXx: Return of Xander Cage,D.J. Caruso,5.20000,Rich Wilkes,2017,107.00000,Action,15,"Jan 20, 2017",85000000.00000,44898413.00000,345033359.00000,260033359.00000
5557,xXx: Return of Xander Cage,D.J. Caruso,5.20000,Rich Wilkes,2017,107.00000,Adventure,15,"Jan 20, 2017",85000000.00000,44898413.00000,345033359.00000,260033359.00000
5558,xXx: Return of Xander Cage,D.J. Caruso,5.20000,F. Scott Frazier,2017,107.00000,Action,15,"Jan 20, 2017",85000000.00000,44898413.00000,345033359.00000,260033359.00000
5559,xXx: Return of Xander Cage,D.J. Caruso,5.20000,F. Scott Frazier,2017,107.00000,Adventure,15,"Jan 20, 2017",85000000.00000,44898413.00000,345033359.00000,260033359.00000

In [138]:
# checking for duplicates
dup = df[df.duplicated()]
print(len(dup))

0

# This is for dropping the writers

In [139]:
df_rid_of_writer = df.drop(['writers'], axis=1)

In [140]:
df_rid_of_writer

,title,director,averagerating,start_year,runtime_minutes,genres,id,release_date,production_budget,domestic_gross,worldwide_gross,world_profit
0,12 Strong,Nicolai Fuglsig,6.60000,2018,130.00000,Action,64,"Jan 19, 2018",35000000.00000,45819713.00000,71118378.00000,36118378.00000
1,12 Strong,Nicolai Fuglsig,6.60000,2018,130.00000,Action,64,"Jan 19, 2018",35000000.00000,45819713.00000,71118378.00000,36118378.00000
2,12 Strong,Nicolai Fuglsig,6.60000,2018,130.00000,Action,64,"Jan 19, 2018",35000000.00000,45819713.00000,71118378.00000,36118378.00000
3,127 Hours,Danny Boyle,7.60000,2010,94.00000,Adventure,6,"Nov 5, 2010",18000000.00000,18335230.00000,60217171.00000,42217171.00000
4,127 Hours,Danny Boyle,7.60000,2010,94.00000,Adventure,6,"Nov 5, 2010",18000000.00000,18335230.00000,60217171.00000,42217171.00000
...,...,...,...,...,...,...,...,...,...,...,...,...
5555,Zootopia,Byron Howard,8.00000,2016,108.00000,Adventure,57,"Mar 4, 2016",150000000.00000,341268248.00000,1019429616.00000,869429616.00000
5556,xXx: Return of Xander Cage,D.J. Caruso,5.20000,2017,107.00000,Action,15,"Jan 20, 2017",85000000.00000,44898413.00000,345033359.00000,260033359.00000
5557,xXx: Return of Xander Cage,D.J. Caruso,5.20000,2017,107.00000,Adventure,15,"Jan 20, 2017",85000000.00000,44898413.00000,345033359.00000,260033359.00000
5558,xXx: Return of Xander Cage,D.J. Caruso,5.20000,2017,107.00000,Action,15,"Jan 20, 2017",85000000.00000,44898413.00000,345033359.00000,260033359.00000
5559,xXx: Return of Xander Cage,D.J. Caruso,5.20000,2017,107.00000,Adventure,15,"Jan 20, 2017",85000000.00000,44898413.00000,345033359.00000,260033359.00000

In [141]:
rid_of_writer_dup = df_rid_of_writer[df_rid_of_writer.duplicated()]
print(len(rid_of_writer_dup))

3637

In [142]:
df_rid_of_writer.drop_duplicates(inplace=True)

In [143]:
df_rid_of_writer

,title,director,averagerating,start_year,runtime_minutes,genres,id,release_date,production_budget,domestic_gross,worldwide_gross,world_profit
0,12 Strong,Nicolai Fuglsig,6.60000,2018,130.00000,Action,64,"Jan 19, 2018",35000000.00000,45819713.00000,71118378.00000,36118378.00000
3,127 Hours,Danny Boyle,7.60000,2010,94.00000,Adventure,6,"Nov 5, 2010",18000000.00000,18335230.00000,60217171.00000,42217171.00000
6,2 Guns,Baltasar Kormákur,6.70000,2013,109.00000,Action,39,"Aug 2, 2013",61000000.00000,75612460.00000,132493015.00000,71493015.00000
8,21 Jump Street,Phil Lord,7.20000,2012,109.00000,Action,44,"Mar 16, 2012",42000000.00000,138447667.00000,202812429.00000,160812429.00000
12,22 Jump Street,Phil Lord,7.00000,2014,112.00000,Action,85,"Jun 13, 2014",50000000.00000,191719337.00000,331333876.00000,281333876.00000
...,...,...,...,...,...,...,...,...,...,...,...,...
5538,Zoom,Pedro Morelli,6.10000,2015,96.00000,Animation,26,"Aug 11, 2006",35000000.00000,11989328.00000,12506188.00000,-22493812.00000
5540,Zootopia,Byron Howard,8.00000,2016,108.00000,Animation,57,"Mar 4, 2016",150000000.00000,341268248.00000,1019429616.00000,869429616.00000
5541,Zootopia,Byron Howard,8.00000,2016,108.00000,Adventure,57,"Mar 4, 2016",150000000.00000,341268248.00000,1019429616.00000,869429616.00000
5556,xXx: Return of Xander Cage,D.J. Caruso,5.20000,2017,107.00000,Action,15,"Jan 20, 2017",85000000.00000,44898413.00000,345033359.00000,260033359.00000
5557,xXx: Return of Xander Cage,D.J. Caruso,5.20000,2017,107.00000,Adventure,15,"Jan 20, 2017",85000000.00000,44898413.00000,345033359.00000,260033359.00000

In [144]:
df_groub= df_rid_of_writer.groupby(['genres','director']).mean().sort_values(by=['world_profit'], ascending=False)
df_groub

                           averagerating  start_year  runtime_minutes  \
genres    director
Action    Colin Trevorrow        7.00000  2015.00000        124.00000
Adventure Colin Trevorrow        7.00000  2015.00000        124.00000
Sci-Fi    Colin Trevorrow        7.00000  2015.00000        124.00000
Action    James Wan              7.15000  2016.50000        140.00000
          Ryan Coogler           7.30000  2018.00000        134.00000
...                                  ...         ...              ...
Adventure Simon Wells            5.40000  2011.00000         88.00000
Animation Simon Wells            5.40000  2011.00000         88.00000
Sci-Fi    Simon Kinberg          6.00000  2019.00000        113.00000
Action    Simon Kinberg          6.00000  2019.00000        113.00000
Adventure Simon Kinberg          6.00000  2019.00000        113.00000

                                id  production_budget  domestic_gross  \
genres    director
Action    Colin Trevorrow 34.00000    215000000.00000 652270625.00000
Adventure Colin Trevorrow 34.00000    215000000.00000 652270625.00000
Sci-Fi    Colin Trevorrow 34.00000    215000000.00000 652270625.00000
Action    James Wan       51.50000    175000000.00000 344034413.50000
          Ryan Coogler    42.00000    200000000.00000 700059566.00000
...                            ...                ...             ...
Adventure Simon Wells     94.00000    150000000.00000  21392758.00000
Animation Simon Wells     94.00000    150000000.00000  21392758.00000
Sci-Fi    Simon Kinberg    3.00000    350000000.00000  42762350.00000
Action    Simon Kinberg    3.00000    350000000.00000  42762350.00000
Adventure Simon Kinberg    3.00000    350000000.00000  42762350.00000

                           worldwide_gross     world_profit
genres    director
Action    Colin Trevorrow 1648854864.00000 1433854864.00000
Adventure Colin Trevorrow 1648854864.00000 1433854864.00000
Sci-Fi    Colin Trevorrow 1648854864.00000 1433854864.00000
Action    James Wan       1332808717.00000 1157808717.00000
          Ryan Coogler    1348258224.00000 1148258224.00000
...                                    ...              ...
Adventure Simon Wells       39549758.00000 -110450242.00000
Animation Simon Wells       39549758.00000 -110450242.00000
Sci-Fi    Simon Kinberg    149762350.00000 -200237650.00000
Action    Simon Kinberg    149762350.00000 -200237650.00000
Adventure Simon Kinberg    149762350.00000 -200237650.00000

[1391 rows x 8 columns]

# This for the orignial data frame, with writer

In [145]:
# groubing by the director
df_groub_director = df.groupby('director').mean().sort_values(by=['world_profit'], ascending=False)

In [146]:
df_groub_director

,averagerating,start_year,runtime_minutes,id,production_budget,domestic_gross,worldwide_gross,world_profit
director,,,,,,,,
Colin Trevorrow,7.00000,2015.00000,124.00000,34.00000,215000000.00000,652270625.00000,1648854864.00000,1433854864.00000
Anthony Russo,8.13600,2016.40000,144.88000,11.92000,251600000.00000,496500823.36000,1456753604.04000,1205153604.04000
Ryan Coogler,7.30000,2018.00000,134.00000,42.00000,200000000.00000,700059566.00000,1348258224.00000,1148258224.00000
Adam Green,6.20000,2011.50000,97.25000,56.00000,150000000.00000,400738009.00000,1272469910.00000,1122469910.00000
Chris Buck,7.50000,2011.50000,97.25000,56.00000,150000000.00000,400738009.00000,1272469910.00000,1122469910.00000
...,...,...,...,...,...,...,...,...
Sabine Emiliani,7.30000,2013.00000,85.00000,53.00000,59500000.00000,0.00000,0.00000,-59500000.00000
Xiao Feng,3.30000,2018.00000,120.00000,21.00000,65000000.00000,0.00000,516279.00000,-64483721.00000
Andrey Konchalovskiy,4.30000,2010.00000,110.00000,79.00000,90000000.00000,195459.00000,20466016.00000,-69533984.00000
Simon Wells,5.40000,2011.00000,88.00000,94.00000,150000000.00000,21392758.00000,39549758.00000,-110450242.00000
Simon Kinberg,6.00000,2019.00000,113.00000,3.00000,350000000.00000,42762350.00000,149762350.00000,-200237650.00000

In [178]:
# indexing for only Animation, groubying by the director and 
# writer for average of world_profit and average rating of the movie

ani_profit = df[df['genres'] == 'Animation'].groupby(['director','writers']).mean().sort_values(by = ['world_profit','averagerating'], ascending = False)

In [181]:
ani_profit.head(20)

                                      averagerating  start_year  \
director     writers
Chris Buck   Chris Buck                     7.50000  2013.00000
             Hans Christian Andersen        7.50000  2013.00000
             Jennifer Lee                   7.50000  2013.00000
             Shane Morris                   7.50000  2013.00000
Adam Green   Adam Green                     6.20000  2013.00000
Kyle Balda   Brian Lynch                    6.40000  2015.00000
Brad Bird    Brad Bird                      7.70000  2018.00000
Kyle Balda   Cinco Paul                     6.30000  2017.00000
             Ken Daurio                     6.30000  2017.00000
Byron Howard Byron Howard                   8.00000  2016.00000
             Jared Bush                     8.00000  2016.00000
             Jennifer Lee                   8.00000  2016.00000
             Jim Reardon                    8.00000  2016.00000
             Josie Trinidad                 8.00000  2016.00000
             Kellie D. Lewis                8.00000  2016.00000
             Phil Johnston                  8.00000  2016.00000
             Rich Moore                     8.00000  2016.00000
Lee Unkrich  Andrew Stanton                 8.30000  2010.00000
             John Lasseter                  8.30000  2010.00000
             Michael Arndt                  8.30000  2010.00000

                                      runtime_minutes       id  \
director     writers
Chris Buck   Chris Buck                     102.00000 56.00000
             Hans Christian Andersen        102.00000 56.00000
             Jennifer Lee                   102.00000 56.00000
             Shane Morris                   102.00000 56.00000
Adam Green   Adam Green                     102.00000 56.00000
Kyle Balda   Brian Lynch                     91.00000 73.00000
Brad Bird    Brad Bird                      118.00000 44.00000
Kyle Balda   Cinco Paul                      89.00000 30.00000
             Ken Daurio                      89.00000 30.00000
Byron Howard Byron Howard                   108.00000 57.00000
             Jared Bush                     108.00000 57.00000
             Jennifer Lee                   108.00000 57.00000
             Jim Reardon                    108.00000 57.00000
             Josie Trinidad                 108.00000 57.00000
             Kellie D. Lewis                108.00000 57.00000
             Phil Johnston                  108.00000 57.00000
             Rich Moore                     108.00000 57.00000
Lee Unkrich  Andrew Stanton                 103.00000 47.00000
             John Lasseter                  103.00000 47.00000
             Michael Arndt                  103.00000 47.00000

                                      production_budget  domestic_gross  \
director     writers
Chris Buck   Chris Buck                 150000000.00000 400738009.00000
             Hans Christian Andersen    150000000.00000 400738009.00000
             Jennifer Lee               150000000.00000 400738009.00000
             Shane Morris               150000000.00000 400738009.00000
Adam Green   Adam Green                 150000000.00000 400738009.00000
Kyle Balda   Brian Lynch                 74000000.00000 336045770.00000
Brad Bird    Brad Bird                  200000000.00000 608581744.00000
Kyle Balda   Cinco Paul                  75000000.00000 264624300.00000
             Ken Daurio                  75000000.00000 264624300.00000
Byron Howard Byron Howard               150000000.00000 341268248.00000
             Jared Bush                 150000000.00000 341268248.00000
             Jennifer Lee               150000000.00000 341268248.00000
             Jim Reardon                150000000.00000 341268248.00000
             Josie Trinidad             150000000.00000 341268248.00000
             Kellie D. Lewis            150000000.00000 341268248.00000
             Phil Johnston              150000000.00000 341268248.00000
             Rich Moore                 150000000.00000 341268248.00000
Lee Unkrich  Andrew Stanton             200000000.00000 415004880.00000
             John Lasseter              200000000.00000 415004880.00000
             Michael Arndt              200000000.00000 415004880.00000

                                      worldwide_gross     world_profit
director     writers
Chris Buck   Chris Buck              1272469910.00000 1122469910.00000
             Hans Christian Andersen 1272469910.00000 1122469910.00000
             Jennifer Lee            1272469910.00000 1122469910.00000
             Shane Morris            1272469910.00000 1122469910.00000
Adam Green   Adam Green              1272469910.00000 1122469910.00000
Kyle Balda   Brian Lynch             1160336173.00000 1086336173.00000
Brad Bird    Brad Bird               1242520711.00000 1042520711.00000
Kyle Balda   Cinco Paul              1034727750.00000  959727750.00000
             Ken Daurio              1034727750.00000  959727750.00000
Byron Howard Byron Howard            1019429616.00000  869429616.00000
             Jared Bush              1019429616.00000  869429616.00000
             Jennifer Lee            1019429616.00000  869429616.00000
             Jim Reardon             1019429616.00000  869429616.00000
             Josie Trinidad          1019429616.00000  869429616.00000
             Kellie D. Lewis         1019429616.00000  869429616.00000
             Phil Johnston           1019429616.00000  869429616.00000
             Rich Moore              1019429616.00000  869429616.00000
Lee Unkrich  Andrew Stanton          1068879522.00000  868879522.00000
             John Lasseter           1068879522.00000  868879522.00000
             Michael Arndt           1068879522.00000  868879522.00000

In [147]:
# grouby the dataframe by the mean of genres and director for the world_profit averagerating.

df_genre_mean = df.groupby(['genres','director']).mean().sort_values(by=['world_profit'], ascending=False)
df_genre_mean = df_genre_mean.drop(['id', 'start_year'], axis=1)