In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/Users/mahmoud/Documents/Flatiron/Project_1_Microsoft_Movie_Studio/1_Data_Wranging/genre_profit.csv')
pd.set_option('display.float_format', lambda x: '%.5f' %x)

In [3]:
df

,title,start_year,runtime_minutes,genres,id,release_date,production_budget,domestic_gross,worldwide_gross
0,#Horror,2015,101.00000,Crime,16,"Nov 20, 2015","$1,500,000",0.00000,0.00000
1,#Horror,2015,101.00000,Drama,16,"Nov 20, 2015","$1,500,000",0.00000,0.00000
2,#Horror,2015,101.00000,Horror,16,"Nov 20, 2015","$1,500,000",0.00000,0.00000
3,10 Cloverfield Lane,2016,103.00000,Drama,54,"Mar 11, 2016","$5,000,000",72082999.00000,108286422.00000
4,10 Cloverfield Lane,2016,103.00000,Horror,54,"Mar 11, 2016","$5,000,000",72082999.00000,108286422.00000
...,...,...,...,...,...,...,...,...,...
7198,Zulu,2013,110.00000,Drama,82,"Dec 31, 2013","$16,000,000",0.00000,1844228.00000
7199,Zulu,2013,110.00000,Thriller,82,"Dec 31, 2013","$16,000,000",0.00000,1844228.00000
7200,xXx: Return of Xander Cage,2017,107.00000,Action,15,"Jan 20, 2017","$85,000,000",44898413.00000,345033359.00000
7201,xXx: Return of Xander Cage,2017,107.00000,Adventure,15,"Jan 20, 2017","$85,000,000",44898413.00000,345033359.00000
7202,xXx: Return of Xander Cage,2017,107.00000,Thriller,15,"Jan 20, 2017","$85,000,000",44898413.00000,345033359.00000